html {
  background-image: url(./assets/barberBackground.jpg);
}

button:disabled:hover {
  opacity: 0.5;
}

button:disabled {
  opacity: 0.5;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(50%);
}

.main_title {
  background-color: #fbeee0a2;
  color: #422800;
}

.welcome_title h1 {
  padding: 5px;
}

.signOut_notify h5 {
  padding-bottom: 5px;
}

#barberBtn {
  width: 10%;
  top: 45%;
  left: 45%;
  position: fixed;
}

#customerBtn {
  width: 30%;
  height: 12%;
  top: 30%;
  left: 35%;
  position: fixed;
  font-size: xx-large;
}

.customer_btn,
.barber_btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.customer_btn,
.barber_btn:hover {
  background-color: #fff;
}

.customer_btn,
.barber_btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .customer_btn,
  .barber_btn {
    min-width: 120px;
    padding: 0 25px;
  }
}
