html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../assets/barberBackground.jpg);
  background-size: 100%;
  text-align: center;
  color: antiquewhite;
}
table {
  display: flex;
  color: black;
  border-collapse: separate;
  border-spacing: 20px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  color: antiquewhite;
  font-family: monospace;
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(85, 107, 47, 0.267),
    2px 2px 1px rgba(85, 107, 47, 0.171);
  text-align: center;
}

td {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2em;
  background-color: rgba(85, 107, 47, 0.904);
  border: 4px solid black;
  border-color: solid black;
  padding: 40px 30px;
  opacity: 0.85;
}

td:hover {
  opacity: 1;
  background-color: rgba(94, 121, 49, 0.904);
}

.name_span {
    visibility: hidden;
}

/* #delayBtn {
  visibility: hidden;
} */
#checkBtn{
  position:relative;
}

td div span {
    display: block;
    margin-top: -31px;
}
td div span:first-child {
    margin: 0px;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

/* TODO: remove when connected to db */
#spot3,
#spot6 {
  background: lightpink;
}
